# ==========================================================
# Packaging
# ==========================================================

*.egg-info/

# ==========================================================
# Python bytecode
# ==========================================================

**/__pycache__/
*.pyc
